<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Egg Counter Control{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/styles.css" />
  <script defer src="/static/js/chart.umd.min.js"></script>
  <script type="module" src="/static/js/app.js?v" defer></script>

</head>

<body x-data="app()" x-init="init()" x-cloak class="min-h-screen bg-gray-100">
  {% block content %}{% endblock %}
</body>

</html>